<div id="container">
  <img id="image" src="/assets/images/background/background-header-locales.svg" />
  <p id="text">
    LOCALES
  </p>
</div>
<!--Inicio de los CARDS-->
<div class="grid-container">
  <div class="grid-item card">
    <div class="sub-grid">
      <div class="header-red">
        <img class="img-card logo-card" src="assets/images/logos/romero-motors-white.svg">
      </div>
      <div class="grid-item card-body">
        <img class="img-card-body" src="assets/images/cards/taller.svg">
      </div>
    </div>
  </div>

  <div class="grid-item card">
    <div class="sub-grid">
      <div class="">
        <img class="img-card logo-card" src="assets/images/cards/autocentro-logo-17.svg">
      </div>
      <div class="grid-item">
        <img class="img-card-body" src="assets/images/cards/taller.svg">
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="sub-grid">
      <div class="sub-grid-item">
        <p class="text-container leyenda-text">TIENDA / TALLER</p>
        <div class="banner-block-black">
          <div class="banner-block">
            <h3 class="text-container">LOCAL DE LIMA</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="sub-grid">
      <div class="sub-grid-item">
        <p class="text-container leyenda-text">TIENDA / TALLER</p>
        <div class="banner-block-red">
          <div class="banner-block">
            <h3 class="text-container">LOCAL DE ICA</h3>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="grid-item">
    <div class="sub-grid-item  card-border-line-red">
      <div class="header-dat-card-red header-pc-3">
        <div class="text-container d-flex align-items-center">
          <img class="icon" src="assets/images/icons/locales/card-auth-white-18.svg">
          <h3 class="text-white"> DATOS DE CONTACTO </h3>
        </div>
      </div>
      <div class="content-info text-container">
        <p>Dirección: Avenida la Molina 678, Urb. Residencial Monterrico. La Molina, Lima.</p>
        <p>Teléfono: 991710374</p>
      </div>

      <div class="header-dat-card-red header-pc-3">
        <div class="text-container d-flex align-items-center">
          <img class="icon" src="assets/images/icons/locales/car-whitesvg-18.svg">
          <h3 class="text-white">SERVICIOS</h3>
        </div>
      </div>
      <div class="content-info text-container">
        <p class="p-list">- Alineamiento computarizado</p>
        <p class="p-list">- Balanceo y enllante</p>
        <p class="p-list">- Suspensión y dirección</p>
        <p class="p-list">- Frenos</p>
        <p class="p-list">- Cambios de aceite</p>
        <p class="p-list">- Car wash</p>
      </div>
    </div>
  </div>

  <div class="sub-grid-item  card-border-line-back">
    <div class="header-dat-card-black header-pc-3">
      <div class="text-container d-flex align-items-center">
        <img class="icon" src="assets/images/icons/locales/card-auth-red-16.svg">
        <h3 class="text-red"> DATOS DE CONTACTO </h3>
      </div>
    </div>
    <div class="content-info text-container">
      <p>Dirección: Panamericana Sur KM 299 Los Medanos - Subtanjalla</p>
      <p>Teléfono: 991710374</p>
    </div>

    <div class="header-dat-card-black border-top-black header-pc-3">
      <div class="text-container  d-flex align-items-center">
        <img class="icon" src="assets/images/icons/locales/car-black.svg">
        <h3 class="">SERVICIOS</h3>
      </div>
    </div>
    <div class="content-info text-container">
    </div>
  </div>

  <div class="grid-item jcb">
    <button class="btn btn-black w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/message-white-18.svg">
        Contactar
      </div>
    </button>
    <button class="btn btn-red w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/this-here-16.svg">
        ¿Cómo llegar?
      </div>
    </button>
  </div>

  <div class="grid-item jcb">
    <button class="btn btn-black w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/message-white-18.svg">
        Contactar
      </div>
    </button>
    <button class="btn btn-red w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/this-here-16.svg">
        ¿Cómo llegar?
      </div>
    </button>
  </div>

</div>

<div class="grid-container">
  <div class="grid-item card">
    <div class="sub-grid">
      <div class="">
        <img class="img-card logo-card" src="assets/images/logos/nasca-motors-17.svg">
      </div>
      <div class="grid-item">
        <img class="img-card-body" src="assets/images/cards/nasca-motors-17.svg">
      </div>
    </div>
  </div>

  <div class="grid-item card">
    <div class="sub-grid">
      <div class="">
        <img class="img-card logo-card" src="assets/images/logos/icaautos-17.svg">
      </div>
      <div class="grid-item">
        <img class="img-card-body" src="assets/images/cards/ica-autos-17.svg">
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="sub-grid">
      <div class="sub-grid-item">
        <p class="text-container leyenda-text">TIENDA / TALLER</p>
        <div class="banner-block-red">
          <div class="banner-block">
            <h3 class="text-container">LOCAL DE LIMA</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="sub-grid">
      <div class="sub-grid-item">
        <p class="text-container leyenda-text">TIENDA / TALLER</p>
        <div class="banner-block-black">
          <div class="banner-block">
            <h3 class="text-container">LOCAL DE ICA</h3>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="grid-item">
    <div class="sub-grid-item  card-border-line-red">
      <div class="header-dat-card-red header-pc-3">
        <div class="text-container  d-flex align-items-center">
          <img class="icon" src="assets/images/icons/locales/card-auth-white-18.svg">
          <h3 class="text-white"> DATOS DE CONTACTO </h3>
        </div>
      </div>
      <div class="content-info text-container">
        <p>Dirección: Panamericana Sur s/n Km 452 - Vista Alegre, Nasca, Ica</p>
        <p>Teléfono: 914342096</p>
      </div>

      <div class="header-dat-card-red header-pc-3">
        <div class="text-container  d-flex align-items-center">
          <img class="icon" src="assets/images/icons/locales/car-whitesvg-18.svg">
          <h3 class="text-white">SERVICIOS</h3>
        </div>
      </div>
      <div class="content-info text-container">
      </div>
    </div>
  </div>

  <div class="sub-grid-item  card-border-line-back">
    <div class="header-dat-card-black header-pc-3">
      <div class="text-container  d-flex align-items-center">
        <img class="icon" src="assets/images/icons/locales/card-auth-red-16.svg">
        <h3 class="text-red"> DATOS DE CONTACTO </h3>
      </div>
    </div>
    <div class="content-info text-container">
      <p>Dirección: Panamericana Sur KM 299.5 Subtanjalla</p>
      <p>Teléfono: 993839851</p>
    </div>

    <div class="header-dat-card-black border-top-black header-pc-3">
      <div class="text-container  d-flex align-items-center">
        <img class="icon" src="assets/images/icons/locales/car-black.svg">
        <h3 class="">SERVICIOS</h3>
      </div>
    </div>
    <div class="content-info text-container">
    </div>
  </div>

  <div class="grid-item jcb">
    <button class="btn btn-black w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/message-white-18.svg">
        Contactar
      </div>
    </button>
    <button class="btn btn-red w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/this-here-16.svg">
        ¿Cómo llegar?
      </div>
    </button>
  </div>

  <div class="grid-item jcb">
    <button class="btn btn-black w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/message-white-18.svg">
        Contactar
      </div>
    </button>
    <button class="btn btn-red w-50">
      <div class="d-flex">
        <img class="icon" src="assets/images/icons/locales/this-here-16.svg">
        ¿Cómo llegar?
      </div>
    </button>
  </div>

</div>

