.optionsCell {
  display: flex;
  justify-content: center;
  align-items: center;

  .option {
    border-radius: 50%;
    transition: all 0.3s;
    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      cursor: pointer;
      background-color: #cccccc;
    }
  }
}
