<footer class="Footer">
  <div class="Footer__content">
    <div class="Footer__section">
      <ul>
        <li>
          <mat-icon>phone</mat-icon>
          <a href="tel:+015477544">(01) 541-7544</a>
        </li>
        <li>
          <mat-icon>phone</mat-icon>
          <a href="tel:+015477544">963 312 456</a>
        </li>
        <li>
          <mat-icon>mail</mat-icon>
          <a href="mailto:info@romeromotors.com.pe">info@romeromotors.com.pe</a>
        </li>
      </ul>
    </div>
    <div class="Footer__section">
      <ul>
        <li>
          <mat-icon>location_on</mat-icon>
          <a href="#">Av. La Molina 678 - La Molina</a>
        </li>
        <li>
          <mat-icon>watch_later</mat-icon>
          <a>Horarios: Lunes a Sábados: 8:00 am - 6:00 pm
          </a>
        </li>
        <li>
          <span>Siguenos en: </span>
        </li>
      </ul> 
    </div>
    <div class="Footer__section">
      <span class="Footer__section-title">INFORMACION LEGAL</span>
      <ul>
        <li>
          <mat-icon>arrow_right</mat-icon>
          <a href="#">Libro de reclamaciones</a>
        </li>
        <li>
          <mat-icon>arrow_right</mat-icon>
          <a href="#">Términos y condiciones de uso</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="Footer__copyright">
    <span>Copyright © 2020 RomeroMotors</span>
  </div>
</footer>
