.wrapper {
  display: grid;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #646464;
  padding: 0 0 1rem 0;
}

input {
  margin-left: 1.5rem;
}
small {
  text-align: center;
  padding: 2px 3px;
  background-color: #E6E6E6;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 10px;
}
label {
  margin-left: 5px;
}

.option {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.title-filtro {
  margin: 10px 0;
  margin-left: 1rem;
  font-weight: 800;
}
.title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #646464 solid 1px;
  border-bottom: #646464 solid 1px;
}
.icon {
  margin-right: 1rem;
  width: 1rem;
}
#options {
  width: 100%;
  height: 0px;
  box-shadow: 10px 10px 3px #D8D8D8;
}

.btn-open-options {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  background: none;
}
