<div class="Home">
  <section class="Home__search">
    <search-bar-tire></search-bar-tire>
  </section>
  <section class="Home__services">
    <div class="Home__services-container">
      <div class="background"></div>
      <div class="content">
        <div class="title-section">
          <h2>Nuestros Servicios</h2>
        </div>
        <div class="container-cards">
          <mat-card class="mat-elevation-z4">
            <img
              src="assets/images/background/services-background-1.svg"
              alt=""
              class="card-header-image"
            />
            <div class="card-content">
              <span class="card-title">MECÁNICA GENERAL</span>
              <span class="card-subtitle">
                Mant.preventivo menor y mayor <br />
                Alineamiento 3D y balanceo <br />
                Reparación de motor <br />
                Revisión general y más
              </span>
            </div>
            <a href="#" class="card-action">Ver Más</a>
          </mat-card>
          <mat-card class="mat-elevation-z4">
            <img
              src="assets/images/background/services-background-2.svg"
              alt=""
              class="card-header-image"
            />
            <div class="card-content">
              <span class="card-title">PLANCHADO Y PINTURA </span>
              <span class="card-subtitle"
                >Planchado (Reparación de carrocería) <br />
                Pintura en general <br />
                Tratamiento de pintura</span
              >
            </div>
            <a href="#" class="card-action">Ver Más</a>
          </mat-card>
          <mat-card class="mat-elevation-z4">
            <img
              src="assets/images/background/services-background-3.svg"
              alt=""
              class="card-header-image"
            />

            <div class="card-content">
              <span class="card-title">CARWASH</span>
              <span class="card-subtitle"
                >Lavado de salón <br />
                Undercoating <br />
                Pulido de faros</span
              >
            </div>
            <a href="#" class="card-action">Ver Más</a>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <section class="Home__fleet-management">
    <div class="Home__fleet-management-container">
      <!-- <div class="title-section"> -->
      <h2 class="title">GESTIÓN EFICIENTE DE FLOTAS</h2>
      <!-- </div> -->
      <span class="subtitle">
        Enfócate en la operación de tu negocio <br />
        Nosotros nos encargamos de tu flota
      </span>
      <a href="#" class="see-more">Ver Más</a>
    </div>
  </section>

  <section class="Home__trademark">
    <div class="Home__trademark-container">
      <div class="title-section">
        <h2 class="black">
          Marcas que <br />
          trabajamos
        </h2>
      </div>

      <div class="container">
        <div class="identifier-subtitle">
          <span>Multimarca</span>
        </div>
        <div class="trademark-content">
          <img src="assets/images/trademark/Recurso 10.svg" alt="" />
          <img src="assets/images/trademark/Recurso 11.svg" alt="" />
          <img src="assets/images/trademark/Recurso 12.svg" alt="" />
          <img src="assets/images/trademark/Recurso 13.svg" alt="" />
          <img src="assets/images/trademark/Recurso 14.svg" alt="" />
          <img src="assets/images/trademark/Recurso 17.svg" alt="" />
          <img src="assets/images/trademark/Recurso 18.svg" alt="" />
          <img src="assets/images/trademark/Recurso 19.svg" alt="" />
          <img src="assets/images/trademark/Recurso 20.svg" alt="" />
          <img src="assets/images/trademark/Recurso 21.svg" alt="" />
          <img src="assets/images/trademark/Recurso 22.svg" alt="" />
          <img src="assets/images/trademark/Recurso 23.svg" alt="" />
          <img src="assets/images/trademark/Recurso 24.svg" alt="" />
          <img src="assets/images/trademark/Recurso 25.svg" alt="" />
          <img src="assets/images/trademark/Recurso 26.svg" alt="" />
          <img src="assets/images/trademark/Recurso 27.svg" alt="" />
          <img src="assets/images/trademark/Recurso 28.svg" alt="" />
          <img src="assets/images/trademark/Recurso 29.svg" alt="" />
          <img src="assets/images/trademark/Recurso 30.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="Home__benefits">
    <div class="Home__benefits-container">
      <div class="title-section left">
        <h2 class="black">
          Beneficios
        </h2>
      </div>
      <div class="content">
        <div class="container-cards">
          <mat-card class="mat-elevation-z4"
            ><img
              src="assets/images/icons/benefits/icon-benefits-1.svg"
              alt="benefits"
              class="card-image"
            />
            <span class="card-title">Servicios Garantizados</span>
            <span class="card-subtitle"
              >Nuestra garantía cubre todas las partes instaladas y los trabajos
              realizados en nuestro taller.</span
            ></mat-card
          >
          <mat-card class="mat-elevation-z4"
            ><img
              src="assets/images/icons/benefits/icon-benefits-2.svg"
              alt="benefits"
              class="card-image"
            />
            <span class="card-title">INFORMACIÓN PERMANENTE</span>
            <span class="card-subtitle"
              >Te damos opciones de repuestos y servicios para adaptarnos a tu
              presupuesto.</span
            ></mat-card
          >
          <mat-card class="mat-elevation-z4"
            ><img
              src="assets/images/icons/benefits/icon-benefits-3.svg"
              alt="benefits"
              class="card-image"
            />
            <span class="card-title">TODOS LOS SERVICIOS</span>
            <span class="card-subtitle"
              >Desde cambio de aceite hasta la reparación del motor, incluyendo
              planchado y pintura.</span
            ></mat-card
          >
          <mat-card class="mat-elevation-z4"
            ><img
              src="assets/images/icons/benefits/icon-benefits-4.svg"
              alt="benefits"
              class="card-image"
            />
            <span class="card-title">RECOJO Y ENTREGA A DOMICILIO</span>
            <span class="card-subtitle"
              >Recogemos tu vehículo, lo llevamos al taller y una vez finalizado
              el servicio te lo entregamos a domicilio.</span
            ></mat-card
          >
          <mat-card class="mat-elevation-z4"
            ><img
              src="assets/images/icons/benefits/icon-benefits-5.svg"
              alt="benefits"
              class="card-image"
            />
            <span class="card-title">AUXILIO MECÁNICO Y SERVICIO DE GRÚA</span>
            <span class="card-subtitle"
              >Asistencia las 24 horas del día, los 7 días de la semana para
              todo tipo de vehículos livianos.</span
            ></mat-card
          >
        </div>
      </div>
    </div>
  </section>
  <section class="Home__tire">
    <div class="Home__tire-container">
      <div class="title-section">
        <h2 class="black">
          NEUMÁTICOS <br />
          MÁS VENDIDOS
        </h2>
      </div>
      <div class="content">
        <div class="container-cards">
          <mat-card class="mat-elevation-z4"></mat-card>
          <mat-card class="mat-elevation-z4"></mat-card>
          <mat-card class="mat-elevation-z4"></mat-card>
        </div>
      </div>
    </div>
  </section>

  <section class="Home__banner">
    <div class="Home__banner-container">
      <div class="tire">
        <div>
          <h4>Neumaticos</h4>
          <span>Para todo tipo de vehiculos</span>
        </div>
      </div>
      <div class="battery">
        <div>
          <h4>BATERIAS</h4>
          <span>Para todo tipo de vehiculos</span>
        </div>
      </div>
    </div>
  </section>

  <section class="Home__clients">
    <div class="Home__clients-container">
      <div class="title-section left">
        <h2 class="black">
          CLIENTES QUE <br />
          NOS RESPALDAN
        </h2>
      </div>
      <div class="content">
        <div class="slider-container">
          <img
            src="assets/images/icons/clients/icon-clients-1.svg"
            alt="clients"
            class="brand-logo-client"
          />
          <img
            src="assets/images/icons/clients/icon-clients-2.svg"
            alt="clients"
            class="brand-logo-client"
          />
          <img
            src="assets/images/icons/clients/icon-clients-3.svg"
            alt="clients"
            class="brand-logo-client"
          />
          <img
            src="assets/images/icons/clients/icon-clients-4.svg"
            alt="clients"
            class="brand-logo-client"
          />
        </div>
      </div>
    </div>
  </section>
</div>
