.list{

    height: 98%;

    .options{
        background-color: #f5f7f7;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 45px;
        padding: 5px;
        border: 1px solid #bdc3c7;

        & > button{
            border-radius: 50%;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
            transition: all 0.4s;
            &:hover{
                cursor: pointer;
                background-color: #cccccc;
            }

            & > span{
                color: #787275;
            }
        }
    }

    .grid{
        height: calc(100% - 44px);
        // padding-bottom: 30px;

    }
}