<div class="TireCard" *ngIf="tire">
  <!-- Badge -->
  <div class="TireCard__badge-desc" *ngIf="tire.cost.percentage < 0">
    <span>{{ tire.cost.percentage }}%</span>
  </div>
  <div class="TireCard__badge-install" *ngIf="tire.freeInst">
    <span
      >Instalación <br />
      Gratis</span
    >
  </div>

  <!-- Container -->
  <div class="TireCard-container">
    <div class="TireCard__images">
      <img [src]="url_path+'/'+tire.images[0]"  [alt]="tire.title" />
    </div>
    <div class="TireCard__content">
      <div class="col-left">
        <!--<img src="assets/images/">-->
        <div class="manufacturer">
          <img [src]="url_path+'/'+manufacturer.image"  [alt]="manufacturer.value" />
        </div>
        <span class="model">{{ manufacturer.children[0].value }}</span>
        <span class="description">{{ tire.desc }}</span>

        <span class="code">Código: {{ tire.sku }}</span>
        <div class="icon-container">
          <ng-container *ngFor="let vehicle of vehicleTypes">
            <img [src]="url_path+'/'+vehicle.image"  [alt]="vehicle.id" class="mw-icon-20" />
            <!--<span>{{ vehicle.image }}</span>-->
          </ng-container>
        </div>
      </div>
      <div class="col-right">
        <span class="title-detail">Detalles:</span>

        <div class="content-detail">
          <div class="item-detail">
            <span class="key">{{ loadData.index }}</span>
            <span class="value">Carga máxima: {{ loadData.value }} Kg</span>
          </div>

          <div class="item-detail">
            <span class="key">{{ speedData.index }}</span>
            <span class="value">Velocidad máxima: {{ speedData.value }}  Km/h</span>
          </div>
        </div>



        <!-- <ng-container>
          <div>
            <span>{{}}</span>
          </div>
        </ng-container> -->

        <div class="h-35 container-buttons-info">
          <span class="sku">COD: {{tire.upc }}</span>
          <span class="buttons-whatssApp">
            <img src="assets/images/whatsapp-icon.png">
            1234567890
          </span>
        </div>

      </div>
      <div class="col-bottom">
        <div class="cost">
          <span>Precio Unidad:</span>
          <div>
            <span class="cost-base">S/. {{ tire.cost.base }} </span>
            <span class="cost-desc">S/. {{ tire.cost.discount }} </span>
          </div>
        </div>
        <input
          class="quantity"
          value="1"
          [max]="tire.stock"
          type="number"
          name="quantity"
          id="quantity"
        />
        <div class="buttons-add">
          <button class="add-cart bw-70">Agregar al carrito</button>
          <button class="quote-whatsapp bw-30">Cotizar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container box" *ngIf="tire">
  <div class="columns">
    <div class="column is-one-third">
      <img class="tire-image" src="assets/images/tire-example.jpg" alt="Tire" />
    </div>
    <div class="column">
      <div class="columns">
        <div class="column">
          <div class="content is-flex" style="flex-direction: column;">

            <p class="title is-4">{{tire.desc}}</p>
            <p class="subtitle has-text-weight-bold has-text-primary">{{tire.manufacturer}}</p>
            <span class="is-6">{{tire.vehicleType[0].value}}</span>
            <hr class="hr">
            <strong class="is-5">{{tire.width}}/{{tire.ratio}} {{tire.diameter}}</strong>
          </div>


        </div>
        <div class="column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis dolorum necessitatibus voluptates eligendi minus sit delectus dolore blanditiis expedita eveniet! Numquam, voluptatibus necessitatibus ipsa consequatur vero consectetur delectus veritatis officia.
        </div>
      </div>
      <hr class="hr">
      <div class="columns">
        <div class="column">
            <span>Precio unidad : S/.{{tire.cost.base}}</span>
        </div>
        <div class="column is-flex">
            <input type="number" style="margin-right: 15px;" (keydown)="onlyNumber($event)" class="input" [formControl]="quantityFormControl" name="quantity" >
            <button class="button is-primary" [disabled]="!quantityFormControl.valid">Agregar al carrito</button>
          </div>
      </div>
    </div>
  </div>
</div> -->
